doctype html 
html(lang="en")
    head 
        title index page 
        style 
            include ./my.css
    body 
        div(class="header")
            h1 MEDWAY
            h3 Login and Signup 
            a(href="/Login") Login
            a(href="/Register") Signup  